# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
env/
.venv/
.env/

# Arquivos de configuração locais
*.env

# Banco de dados SQLite
db.sqlite3
*.sqlite3

# Logs
*.log

# Mídia e arquivos gerados
media/

# Diretórios de compilação
staticfiles/

# Arquivos gerados pelo Django
*.pot
*.pyc

# Diretório de migrações (se você não precisar versioná-las)
migrations/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Configurações do sistema
.DS_Store
Thumbs.db

# Arquivos de configuração do Docker (se houver)
docker-compose.yml
Dockerfile
