<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Relatório de Jogos</h1>


        {% if dados_relatorio %}
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    {% for chave in dados_relatorio.0.keys %}
                    <th>{{ chave }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for linha in dados_relatorio %}
                <tr>
                    {% for valor in linha.values %}
                    <td>{{ valor }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhum dado disponível.</p>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.5/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>